<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Absensi</title>
    <link rel="stylesheet" href="./style/app.css" />
  </head>
  <body class="body">
    <main class="w-[80%] mt-[4rem] text-center">
      <form
        action="/"
        method="post"
        class="flex items-center justify-between flex-col sm:flex-row"
      >
        <section>
          <input
            class="number-input"
            type="number"
            placeholder="tgl"
            maxlength="2"
            name="tgl"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          />
          <input
            class="number-input"
            type="number"
            placeholder="bln"
            maxlength="2"
            name="bln"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          />
          <input
            class="number-input"
            type="number"
            placeholder="thn"
            maxlength="4"
            name="thn"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          />
          <input
            class="number-input"
            type="number"
            placeholder="sesi"
            maxlength="1"
            name="sesi"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          />
        </section>
        <button class="btn">CARI</button>
      </form>

      <div class="list-peserta mt-5">
        <% allAbsen.forEach(absen=>{%>
        <div class="peserta">
          <div class="peserta-wrapper">
            <h3 class="peserta-data"><%= absen.peserta %></h3>
            <h3 class="text-[1rem] sm:ml-4">
              <%= `${absen.tgl}/${absen.bln}/${absen.thn}` %>
            </h3>
          </div>
          <div class="peserta-wrapper">
            <h3 class="peserta-data sm:mr-4">sesi:<%= absen.sesi %></h3>
            <h3 class="peserta-data"><%= absen.time %></h3>
          </div>
        </div>
        <%}) %>
      </div>
    </main>
    <script>
      const form = document.querySelector("form");

      form.addEventListener("submit", (e) => {
        e.preventDefault();

        const formData = new FormData(e.target);
        const formProps = Object.fromEntries(formData);
        const { tgl, bln, thn, sesi } = formProps;

        window.location.href = `/?tgl=${tgl}&bln=${bln}&thn=${thn}&sesi=${sesi}`;
      });
    </script>
  </body>
</html>
